@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
}

.bold-font {
  font-weight: bold;
}

.btn-slide {
  color: white !important;
}

.nav-cursor {
  cursor: pointer;
}

.sec-img {
  width: 400px;
  height: 400px;
}

.white_block {
  border: 2px solid white;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 22px;
}

.para-heading {
  color: #EF4444;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .services_image {
    display: none;
  }
  .white_block {
    width: 100% !important;
  }
}

@media only screen and (min-device-width: 767px) and (max-device-width: 900px) {
  .btn-resp {
    display: none !important;
  }
  .con-resp {
    display: none !important;
  }
}

.acc-color {
  background-color: #F87171 !important;
}

.about-img {
  border-radius: 20px;
}

.gallery {
  background-color: #EF4444;
}

.gallery-heading {
 text-align: center;
 padding: 15px;
 font-size: 35px;
font-weight: bold;
}

.white-block {
  border: 2px solid white;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 38px;
}

.cartBox {
  background-color: gray;
  color: whitesmoke;
  height: 500px;
  padding: 22px
}

@media all and (device-width: 768px) and (device-height: 1024px) {
  .ipad-media { display: none;  } 
  .ipad-media2 {width: 35% !important}
}